body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.miModal{
  background-color: rgb( 0 0 0/0.80);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cerrar-modal{
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top:0px;
  right: -190px;
}
.cerrar-modal:hover{
  color:red
}

.mi-form{
  width: 400px;
  height: 400px;
}

.cuadrado{
  width: 255px;
  height: 255px;
  background-color: rgb( 0 0 0 );
  margin: auto;
}
